.well{
	background-color: #96262e;
	overflow: hidden;
	margin-bottom: 30px

}

.well .text-divider{
	
	margin-top: 30px;
	margin-bottom: 10px;
	color:white;
}

.card a{
	color: #96262e;
}

.card{
	display: block;
	margin:auto;
}

.jumbotron{
	margin-top:35px;
}

